openapi: 3.0.3
info:
  title: Health Package Guidance API
  version: 1.0.0
  description: |
    API returning health bundle guidance evaluation results, including bundle rankings, estimated costs (adverse/expected scenarios), plan/product uses, and vignette summaries. This spec also contains bundle selection and evaluation input data operations.

termsOfService: http://alight.com/terms
contact:
  name: Alight API Team
  email: api@alight.com
  url: https://alight.com/apis
license:
  name: Proprietary License
servers:
  - url: https://api-dv.alight.com/api
    description: Development environment
  - url: https://api-qa.alight.com/api
    description: Quality Assurance environment
  - url: https://api-ste.alight.com/api
    description: Stress Test environment
  - url: https://api-qc.alight.com/api
    description: Quality Control environment
  - url: https://api.alight.com/api
    description: Production environment
  - url: http://localhost/api
    description: Local Development environment

paths:
  /bundle/recommendations/{evaluationid}:
    get:
      summary: Get suggested packages/bundles as a result of evaluation.
      description: Returns an evaluation result with bundle guidance and cost breakdowns.
      tags:
        - Bundles
      parameters:
        - name: alightRequestHeader
          in: header
          description: Request Header.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: alightPersonSessionToken
          in: header
          description: Session Token generated by startSessionForPerson call
          schema:
            type: string
          required: true
        - name: evaluationid
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the evaluation.
      responses:
        '200':
          description: Evaluation result found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResult'
              examples:
                sample:
                  value:
                    eventType: evaluation_result
                    evaluationId: '123456789'
                    evaluationType: selectsmart:bundles
                    evaluationStatus: success
                    evaluationOutput:
                      bundles:
                        - bundleRank: 2
                          estimatedCosts:
                            adverse:
                              accounts:
                                balanceUsage:
                                  fsaSpouse: null
                                  fsaSubscriber: 0
                                  fsaTotal: 0
                                  hraSpouse: null
                                  hraSubscriber: 0
                                  hraTotal: 0
                                  hsaSpouse: 250
                                  hsaSubscriber: 350
                                  hsaTotal: 600
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                                employeeContributions:
                                  fsaSpouse: null
                                  fsaSubscriber: 0
                                  fsaTotal: 0
                                  hraSpouse: null
                                  hraSubscriber: 0
                                  hraTotal: 0
                                  hsaSpouse: null
                                  hsaSubscriber: 200
                                  hsaTotal: null
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                                employerContributions:
                                  fsaSpouse: null
                                  fsaSubscriber: 150
                                  fsaTotal: 150
                                  hraSpouse: null
                                  hraSubscriber: 999
                                  hraTotal: 999
                                  hsaSpouse: null
                                  hsaSubscriber: 150
                                  hsaTotal: null
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                                employerMatching: null
                                rollovers:
                                  fsaSpouse: null
                                  fsaSubscriber: 0
                                  fsaTotal: 0
                                  hraSpouse: null
                                  hraSubscriber: 0
                                  hraTotal: 0
                                  hsaSpouse: null
                                  hsaSubscriber: null
                                  hsaTotal: null
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                              outofpocketBreakdown:
                                byCategory:
                                  doctorVisits: 109
                                  emergencyRoomVisits: 125
                                  hospitalVisits: 549
                                  labsOrTests: 74
                                  other: 692
                                  prescriptionDrugs: 138
                                  specialistVisits: 538
                                byPerson:
                                  '125425321452': 601
                                  '545876522546': 604
                                  '654321987546': 324
                                  '827419633214': 696
                                byProduct:
                                  DENQNAABUGYEBD8DCIZ1WOOEYZ1FGH0R: 2225
                                  ZHHPKP0QGDX2A11FEXHX8FT5LT6DQA3M: 0
                              totalCost: 4682.4000000000015
                              totalEmployerContributionsExSihra: 1150
                              totalIndemnityPayouts: 2444
                              totalIndemnityPremiums: 337.92
                              totalIndemnityWellnessBenefits: 1000
                              totalOutofpocket: 2225
                              totalOutofpocketCredit: 0
                              totalPremiumCredit: 0
                              totalPremiums: 7919.400000000001
                              totalTaxSavings: 1869
                            expected:
                              accounts:
                                balanceUsage:
                                  fsaSpouse: null
                                  fsaSubscriber: 0
                                  fsaTotal: 0
                                  hraSpouse: null
                                  hraSubscriber: 0
                                  hraTotal: 0
                                  hsaSpouse: 250
                                  hsaSubscriber: 350
                                  hsaTotal: 600
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                                employeeContributions:
                                  fsaSpouse: null
                                  fsaSubscriber: 0
                                  fsaTotal: 0
                                  hraSpouse: null
                                  hraSubscriber: 0
                                  hraTotal: 0
                                  hsaSpouse: 250
                                  hsaSubscriber: 200
                                  hsaTotal: null
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                                employerContributions:
                                  fsaSpouse: null
                                  fsaSubscriber: 150
                                  fsaTotal: 150
                                  hraSpouse: null
                                  hraSubscriber: 999
                                  hraTotal: 999
                                  hsaSpouse: null
                                  hsaSubscriber: 150
                                  hsaTotal: null
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                                employerMatching: null
                                rollovers:
                                  fsaSpouse: null
                                  fsaSubscriber: 0
                                  fsaTotal: 0
                                  hraSpouse: null
                                  hraSubscriber: 0
                                  hraTotal: 0
                                  hsaSpouse: null
                                  hsaSubscriber: null
                                  hsaTotal: null
                                  lpfsaSpouse: null
                                  lpfsaSubscriber: null
                                  lpfsaTotal: null
                              outofpocketBreakdown:
                                byCategory:
                                  doctorVisits: 90
                                  emergencyRoomVisits: 0
                                  hospitalVisits: 0
                                  labsOrTests: 0
                                  other: 620
                                  prescriptionDrugs: 110
                                  specialistVisits: 330
                                byPerson:
                                  personId: 325
                                byProduct:
                                  propertyName: 1150
                              totalCost: 5051.4000000000015
                              totalEmployerContributionsExSihra: 1150
                              totalIndemnityPayouts: 1000
                              totalIndemnityPremiums: 337.92
                              totalIndemnityWellnessBenefits: 1000
                              totalOutofpocket: 1150
                              totalOutofpocketCredit: 0
                              totalPremiumCredit: 0
                              totalPremiums: 7919.400000000001
                              totalTaxSavings: 1869
                          featuredAs: balanced
                          featuredAsVariants:
                            - balanced
                            - lower_adverse
                            - lower_deductible
                            - balanced_non_hdhp
                            - none
                          isCustomizable: true
                          planUses:
                            - coverageFrom: subscriber
                              coverageId: VVJ9QLFGDSDS
                              coveredPeople:
                                - id: 852741963321
                                  level: 30000
                              employeeContribution: 124
                              offerId: '54632541'
                              planId: PbtDkFVv1NLFjnur
                              productId: 5SJHB46THHFDR
                              type: medical_plan
                          productUses:
                            - coverageFrom: subscriber
                              coveredPeople:
                                - id: 32145698745
                                  level: null
                              employeeContribution: 145
                              employerContribution: 234
                              excludedPeopleIds:
                                - '987654321'
                                - '456789123'
                              ineligiblePeopleIds:
                                - '369258147'
                                - '147852369'
                              numDeductionsPlanyear: 12
                              numDeductionsRemaining: 12
                              premium: 600
                              productId: DENQNAJHGFDS
                              totalPremiums: 7200
                              type: medical_plan
                              vsCurrent:
                                premiumChange: 12
                                coverageChanges:
                                  - changeType: added
                                    personId: 3579514682
                                employeeContributionChange: 123
                          vignettes:
                            bundlePlanCosts:
                              baseBundle:
                                employeeContributions:
                                  fsa: 0
                                  hsa: 0
                                  lpfsa: 0
                                outOfPocket: 0
                                premiums: 7581.48
                                total: 7581.48
                                totalPerPaycheck: 7581.48
                                type: non_hdhp
                            closestComparison:
                              baseBundle:
                                type: type
                                premiums: 7581.48
                                outOfPocket: 0
                                employeeContributions:
                                  hsa: 0
                                  fsa: 0
                                  lpfsa: 0
                                total: 123
                                totalPerPaycheck: 123
                              alternateBundle:
                                type: type
                                premiums: 7581.48
                                outOfPocket: 0
                                employeeContributions:
                                  hsa: 0
                                  fsa: 0
                                  lpfsa: 0
                                total: 123
                                totalPerPaycheck: 123
                            growthIllustration:
                              monthlyContribution: 123
                              basis:
                                - 123
                                - 234
                              totalBalance:
                                - 123
                                - 234
                              illustrativeMonthlyReturn: 123
                              durationYears: 34
                              irsLimit: 12
                              initialBalance: 23
                            healthAccountAdvantages:
                              accountTypes: hsa
                              hsa:
                                employeeContributions: 345
                                employerContributions: 45
                                taxSavings: 34
                                taxSavingsPercentage: 34
                                employerContributionsPercentage: 56
                              fsa:
                                employeeContributions: 345
                                employerContributions: 45
                                taxSavings: 34
                                taxSavingsPercentage: 34
                                employerContributionsPercentage: 56
                              lpfsa:
                                employeeContributions: 345
                                employerContributions: 45
                                taxSavings: 34
                                taxSavingsPercentage: 34
                                employerContributionsPercentage: 56
                              total:
                                employeeContributions: 345
                                employerContributions: 45
                                taxSavings: 34
                                taxSavingsPercentage: 34
                                employerContributionsPercentage: 56
        '204':
          description: Evaluation not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Evaluation not found
        '400':
          $ref: '#/components/ErrorResponses/BadRequest'
        '401':
          $ref: '#/components/ErrorResponses/Unauthorized'
        '403':
          $ref: '#/components/ErrorResponses/Forbidden'
        '500':
          $ref: '#/components/ErrorResponses/InternalServerError'

  /bundle/selection:
    get:
      tags:
        - Bundles
      summary: Returns the details of the bundle selected by the user.
      description: Returns the details of the bundle selected by the user.
      operationId: getSelection
      parameters:
        - name: alightRequestHeader
          in: header
          description: Request Header.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: alightPersonSessionToken
          in: header
          description: Session Token generated by startSessionForPerson call
          schema:
            type: string
          required: true
        - name: platformInternalId
          in: header
          required: true
          schema:
            type: string
          description: Unique identifier of the user on platform.
        - name: businessProcessReferenceId
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier of the activity type.
        - name: evaluationid
          in: query
          required: false
          schema:
            type: string
          description: Unique identifier of the evaluation.
      responses:
        '200':
          description: Evaluation returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleSelectionPayload'
              example:
                evaluationId: '123456789'
                clientId: '19968'
                platformInternalId: '43256787'
                businessProcessReferenceId: '12345'
                featuredAs: balanced
                planYearBeginDate: '2026-04-01'
                lastModifiedTimeStamp: '2026-02-03T10:00:00Z'
        '204':
          description: Bundle selection not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bundle selection not found
        '400':
          $ref: '#/components/ErrorResponses/BadRequest'
        '401':
          $ref: '#/components/ErrorResponses/Unauthorized'
        '403':
          $ref: '#/components/ErrorResponses/Forbidden'
        '500':
          $ref: '#/components/ErrorResponses/InternalServerError'

    put:
      tags:
        - Bundles
      summary: Updating the bundle selection for the user.
      description: Updating the user selection of any one bundle out of the all
        recommendations provided by Savvi.
      operationId: putSelection
      parameters:
        - name: alightRequestHeader
          in: header
          description: Request Header.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: alightPersonSessionToken
          in: header
          description: Session Token generated by startSessionForPerson call
          schema:
            type: string
          required: true
        - name: platformInternalId
          in: header
          required: true
          schema:
            type: string
          description: Unique identifier of the user on platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleSelectionPayload'
            example:
              evaluationId: '123456789'
              clientId: '19968'
              platformInternalId: '43256787'
              businessProcessReferenceId: '12345'
              featuredAs: balanced
              planYearBeginDate: ''
              lastModifiedTimeStamp: ''
      responses:
        '200':
          description: Evaluation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleSelectionPayload'
              example:
                evaluationId: '123456789'
                clientId: '19968'
                platformInternalId: '43256787'
                businessProcessReferenceId: '12345'
                featuredAs: balanced
                planYearBeginDate: '2026-04-01'
                lastModifiedTimeStamp: '2026-02-03T10:00:00Z'
        '400':
          $ref: '#/components/ErrorResponses/BadRequest'
        '401':
          $ref: '#/components/ErrorResponses/Unauthorized'
        '403':
          $ref: '#/components/ErrorResponses/Forbidden'
        '500':
          $ref: '#/components/ErrorResponses/InternalServerError'

  /bundle/evaluationinput:
    get:
      tags:
        - Bundles
      summary: Get evaluation input by businessProcessReferenceId or evaluationid.
      operationId: getEvaluationInput
      parameters:
        - name: alightRequestHeader
          in: header
          description: Request Header.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: alightPersonSessionToken
          in: header
          description: Session Token generated by startSessionForPerson call
          schema:
            type: string
          required: true
        - name: platformInternalId
          in: header
          required: true
          schema:
            type: string
          description: Unique identifier of the user on platform.
        - name: businessProcessReferenceId
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier of the activity type.
        - name: evaluationid
          in: query
          required: false
          schema:
            type: string
          description: Unique identifier of the evaluation.
      responses:
        '200':
          description: Evaluation input found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationInput'
              examples:
                sample:
                  $ref: '#/components/examples/EvaluationInputExample'
        '204':
          description: Evaluation input not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Evaluation input not found
        '400':
          $ref: '#/components/ErrorResponses/BadRequest'
        '401':
          $ref: '#/components/ErrorResponses/Unauthorized'
        '403':
          $ref: '#/components/ErrorResponses/Forbidden'
        '500':
          $ref: '#/components/ErrorResponses/InternalServerError'

    put:
      tags:
        - Bundles
      summary: Save evaluation input along with evaluation identifier.
      operationId: putEvaluationInput
      parameters:
        - name: alightRequestHeader
          in: header
          description: Request Header.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: alightPersonSessionToken
          in: header
          description: Session Token generated by startSessionForPerson call
          schema:
            type: string
          required: true
        - name: platformInternalId
          in: header
          required: true
          schema:
            type: string
          description: Unique identifier of the user on platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationInput'
            examples:
              sample:
                $ref: '#/components/examples/EvaluationInputExample'
      responses:
        '200':
          description: Evaluation input saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationInput'
        '400':
          $ref: '#/components/ErrorResponses/BadRequest'
        '401':
          $ref: '#/components/ErrorResponses/Unauthorized'
        '403':
          $ref: '#/components/ErrorResponses/Forbidden'
        '500':
          $ref: '#/components/ErrorResponses/InternalServerError'

components:
  schemas:
    EvaluationResult:
      type: object
      properties:
        eventType:
          type: string
          example: evaluation_result
        evaluationId:
          type: string
          example: '123456789'
        evaluationType:
          type: string
          example: selectsmart:bundles
        evaluationStatus:
          type: string
          example: success
        evaluationOutput:
          $ref: '#/components/schemas/EvaluationOutput'
      required:
        - eventType
        - evaluationId
        - evaluationType
        - evaluationStatus
        - evaluationOutput

    EvaluationOutput:
      type: object
      properties:
        bundles:
          type: array
          items:
            $ref: '#/components/schemas/Bundle'

    Bundle:
      type: object
      properties:
        bundleRank:
          type: integer
          format: int32
          example: 2
        estimatedCosts:
          $ref: '#/components/schemas/EstimatedCosts'
        featuredAs:
          type: string
          description: Label describing how this bundle is featured.
          example: balanced
        featuredAsVariants:
          type: array
          items:
            type: string
          example:
            - balanced
            - lower_adverse
            - lower_deductible
            - balanced_non_hdhp
            - none
        isCustomizable:
          type: boolean
          example: true
        planUses:
          type: array
          items:
            $ref: '#/components/schemas/PlanUse'
        productUses:
          type: array
          items:
            $ref: '#/components/schemas/ProductUse'
        vignettes:
          $ref: '#/components/schemas/Vignettes'
      required:
        - bundleRank
        - estimatedCosts
        - featuredAs
        - featuredAsVariants
        - productUses

    EstimatedCosts:
      type: object
      properties:
        adverse:
          $ref: '#/components/schemas/EstimatedCostScenario'
        expected:
          $ref: '#/components/schemas/EstimatedCostScenario'

    EstimatedCostScenario:
      type: object
      properties:
        accounts:
          $ref: '#/components/schemas/Accounts'
        outofpocketBreakdown:
          $ref: '#/components/schemas/OutOfPocketBreakdown'
        totalCost:
          type: number
          format: double
        totalEmployerContributionsExSihra:
          type: number
          format: double
        totalIndemnityPayouts:
          type: number
          format: double
        totalIndemnityPremiums:
          type: number
          format: double
        totalIndemnityWellnessBenefits:
          type: number
          format: double
        totalOutofpocket:
          type: number
          format: double
        totalOutofpocketCredit:
          type: number
          format: double
        totalPremiumCredit:
          type: number
          format: double
        totalPremiums:
          type: number
          format: double
        totalTaxSavings:
          type: number
          format: double
      required:
        - totalCost
        - totalIndemnityPremiums
        - totalPremiums
        - totalOutofpocketCredit
        - totalTaxSavings

    Accounts:
      type: object
      properties:
        balanceUsage:
          $ref: '#/components/schemas/FsaHsaHraLpfsaAmounts'
        employeeContributions:
          $ref: '#/components/schemas/FsaHsaHraLpfsaAmounts'
        employerContributions:
          $ref: '#/components/schemas/FsaHsaHraLpfsaAmounts'
        employerMatching:
          type: number
          format: double
          nullable: true
          description: Employer matching amount (if applicable).
        rollovers:
          $ref: '#/components/schemas/FsaHsaHraLpfsaAmounts'

    FsaHsaHraLpfsaAmounts:
      type: object
      properties:
        fsaSpouse:
          type: number
          format: double
          nullable: true
        fsaSubscriber:
          type: number
          format: double
          nullable: true
        fsaTotal:
          type: number
          format: double
          nullable: true
        hraSpouse:
          type: number
          format: double
          nullable: true
        hraSubscriber:
          type: number
          format: double
          nullable: true
        hraTotal:
          type: number
          format: double
          nullable: true
        hsaSpouse:
          type: number
          format: double
          nullable: true
        hsaSubscriber:
          type: number
          format: double
          nullable: true
        hsaTotal:
          type: number
          format: double
          nullable: true
        lpfsaSpouse:
          type: number
          format: double
          nullable: true
        lpfsaSubscriber:
          type: number
          format: double
          nullable: true
        lpfsaTotal:
          type: number
          format: double
          nullable: true

    OutOfPocketBreakdown:
      type: object
      properties:
        byCategory:
          type: object
          properties:
            doctorVisits:
              type: number
              format: double
            emergencyRoomVisits:
              type: number
              format: double
            hospitalVisits:
              type: number
              format: double
            labsOrTests:
              type: number
              format: double
            other:
              type: number
              format: double
            prescriptionDrugs:
              type: number
              format: double
            specialistVisits:
              type: number
              format: double
        byPerson:
          type: object
          additionalProperties:
            type: number
            format: double
          description: |
            Map of personId to out-of-pocket amount. Keys are person identifiers.
        byProduct:
          type: object
          additionalProperties:
            type: number
            format: double
          description: |
            Map of productId to out-of-pocket amount. Keys are product identifiers.

    PlanUse:
      type: object
      properties:
        coverageFrom:
          type: string
          example: subscriber
        coverageId:
          type: string
          description: Coverage identifier (may be truncated/obfuscated in examples).
        coveredPeople:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              level:
                type: number
                format: double
                nullable: true
            required:
              - id
        employeeContribution:
          type: number
          format: double
        offerId:
          type: string
        planId:
          type: string
        productId:
          type: string
        type:
          type: string
          example: medical_plan
      required:
        - planId

    ProductUse:
      type: object
      properties:
        coverageFrom:
          type: string
        coveredPeople:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              level:
                type: number
                format: double
                nullable: true
            required:
              - id
        employeeContribution:
          type: number
          format: double
        employerContribution:
          type: number
          format: double
        excludedPeopleIds:
          type: array
          items:
            type: string
        ineligiblePeopleIds:
          type: array
          items:
            type: string
        numDeductionsPlanyear:
          type: integer
          format: int32
        numDeductionsRemaining:
          type: integer
          format: int32
        premium:
          type: number
          format: double
        productId:
          type: string
        totalPremiums:
          type: number
          format: double
        type:
          type: string
        vsCurrent:
          $ref: '#/components/schemas/ProductUseComparison'
      required:
        - productId

    ProductUseComparison:
      type: object
      properties:
        premiumChange:
          type: number
          format: double
        coverageChanges:
          type: array
          items:
            type: object
            properties:
              changeType:
                type: string
                example: added
              personId:
                type: string
            required:
              - changeType
              - personId
        employeeContributionChange:
          type: number
          format: double

    Vignettes:
      type: object
      properties:
        bundlePlanCosts:
          type: object
          properties:
            baseBundle:
              $ref: '#/components/schemas/VignetteBundlePlanCost'
        closestComparison:
          type: object
          properties:
            baseBundle:
              $ref: '#/components/schemas/VignetteBundlePlanCost'
            alternateBundle:
              $ref: '#/components/schemas/VignetteBundlePlanCost'
        growthIllustration:
          $ref: '#/components/schemas/GrowthIllustration'
        healthAccountAdvantages:
          $ref: '#/components/schemas/HealthAccountAdvantages'

    VignetteBundlePlanCost:
      type: object
      properties:
        type:
          type: string
        premiums:
          type: number
          format: double
        outOfPocket:
          type: number
          format: double
        employeeContributions:
          type: object
          properties:
            hsa:
              type: number
              format: double
              nullable: true
            fsa:
              type: number
              format: double
              nullable: true
            lpfsa:
              type: number
              format: double
              nullable: true
        total:
          type: number
          format: double
        totalPerPaycheck:
          type: number
          format: double

    GrowthIllustration:
      type: object
      properties:
        monthlyContribution:
          type: number
          format: double
        basis:
          type: array
          items:
            type: number
            format: double
        totalBalance:
          type: array
          items:
            type: number
            format: double
        illustrativeMonthlyReturn:
          type: number
          format: double
        durationYears:
          type: integer
          format: int32
        irsLimit:
          type: integer
          format: int32
        initialBalance:
          type: number
          format: double

    HealthAccountAdvantages:
      type: object
      properties:
        accountTypes:
          type: string
          description: Primary account type for the vignette (e.g., "hsa").
        hsa:
          $ref: '#/components/schemas/AccountAdvantage'
        fsa:
          $ref: '#/components/schemas/AccountAdvantage'
        lpfsa:
          $ref: '#/components/schemas/AccountAdvantage'
        total:
          $ref: '#/components/schemas/AccountAdvantage'

    AccountAdvantage:
      type: object
      properties:
        employeeContributions:
          type: number
          format: double
          nullable: true
        employerContributions:
          type: number
          format: double
          nullable: true
        taxSavings:
          type: number
          format: double
          nullable: true
        taxSavingsPercentage:
          type: number
          format: double
          nullable: true
        employerContributionsPercentage:
          type: number
          format: double
          nullable: true

    BundleSelectionPayload:
      type: object
      required:
        - clientId
        - platformInternalId
        - businessProcessReferenceId
        - featuredAs
      properties:
        evaluationId:
          type: string
        clientId:
          type: string
        platformInternalId:
          type: string
        businessProcessReferenceId:
          type: string
        featuredAs:
          type: string
          description: Presentation or recommendation style for this evaluation.
          enum:
            - balanced
            - balanced_wider
            - lower_premiums
            - lower_adverse
            - lower_expected
            - balanced_hdhp
            - balanced_non_hdhp
            - balanced_hdhp_wider
            - lower_deductible
            - lower_deductible_wider
            - fully_loaded
            - balanced_no_supplemental
            - balanced_wider_no_supplemental
            - lower_premiums_no_supplemental
            - lower_adverse_no_supplemental
            - lower_expected_no_supplemental
            - balanced_hdhp_no_supplemental
            - balanced_hdhp_wider_no_supplemental
            - lower_deductible_no_supplemental
            - lower_deductible_wider_no_supplemental
            - higher_premium_no_supplemental
            - mapped_current
            - customized
            - none
        planYearBeginDate:
          type: string
          description: Can be empty string or a date.
            # Uncomment to enforce ISO-8601 date (YYYY-MM-DD)
            # pattern: '^\d{4}-\d{2}-\d{2}$'
        lastModifiedTimeStamp:
          type: string
          description: Can be empty string or an ISO-8601 timestamp.
            # Uncomment to enforce RFC3339 date-time
            # format: date-time

    EvaluationInput:
      type: object
      required:
        - clientId
        - platformInternalId
        - businessProcessReferenceId
        - evaluationId
        - savviRequest
      properties:
        clientId:
          type: string
        platformInternalId:
          type: string
        evaluationId:
          type: string
          description: Hash-like evaluation identifier
        businessProcessReferenceId:
          type: string
        savviRequest:
          $ref: '#/components/schemas/savviRequest'
        timestamp:
          type: string
          description: Timestamp in the source format (e.g., 2026-01-01-00.00.00)

    savviRequest:
      type: object
      required:
        - plan_year_start_date
        - plan_year_end_date
        - enrollment_mode
        - effective_date
        - subscriber
        - coverable_people
        - products
      properties:
        sponser_id:
          type: string
        plan_year_start_date:
          type: string
          format: date
        plan_year_end_date:
          type: string
          format: date
        enrollment_mode:
          type: string
          enum:
            - annual
            - monthly
            - other
        effective_date:
          type: string
          format: date
        subscriber:
          $ref: '#/components/schemas/Subscriber'
        coverable_people:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountInput'
        current_enrollments:
          type: array
          items:
            $ref: '#/components/schemas/CurrentEnrollment'
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        eligible_offers:
          type: array
          items:
            $ref: '#/components/schemas/EligibleOffer'
        customizations:
          type: object
          properties:
            custom_bundle:
              type: object
              properties:
                plans:
                  type: array
                  items:
                    type: object
                    properties:
                      plan_id:
                        type: string
                      level:
                        type: number
                      level_spouse:
                        type: number
                      level_child:
                        type: number

    Subscriber:
      type: object
      required:
        - id
        - birthdate
        - annual_pay
        - pay_periods_planyear
        - pay_periods_remaining
      properties:
        id:
          type: string
        birthdate:
          type: string
          format: date
        annual_pay:
          type: number
        tax_state:
          type: string
        pay_periods_planyear:
          type: integer
        pay_periods_remaining:
          type: integer
        healthcare:
          $ref: '#/components/schemas/HealthcareUsage'
        other_income:
          type: number
        monthly_socialsecurity:
          type: number
          format: double
        is_socialsecurity_started:
          type: boolean
        socialsecurity_start_age:
          type: integer
        medicare_status:
          type: string
          enum:
            - unenrolled
            - enrolled
            - enrolled-primary
            - enrolled-secondary
            - enrolled-teriary
            - unknown
        is_covered:
          type: boolean
        country:
          type: string

    Person:
      type: object
      required:
        - id
        - birthdate
        - relationship
      properties:
        id:
          type: string
        birthdate:
          type: string
          format: date
        relationship:
          type: string
          enum:
            - self
            - spouse
            - child
            - domestic_partner
            - other
        healthcare:
          $ref: '#/components/schemas/HealthcareUsage'
        annual_pay:
          type: number
        monthly_socialsecurity:
          type: number
          format: double
        is_socialsecurity_started:
          type: boolean
        socialsecurity_start_age:
          type: integer
        medicare_status:
          type: string
          enum: ["unenrolled","enrolled","enrolled-primary","enrolled-secondary","enrolled-teriary","unknown"]
        is_covered:
          type: boolean
        coverage_exclusions:
          type: array
          items:
            type: string
            enum: ["medical_plan", "dental_plan","vision_plan", "hsa","fsa","lpfsa","hra","accident_indemnity", "illness_indemnity","hospital_indemnity","basic_accident_indemnity", "basic_illness_indemnity", "basic_hospital_indemnity","employer_credit"]

    HealthcareUsage:
      type: object
      properties:
        expected_usage:
          type: object
          properties:
            medical_care:
              type: object
              properties:
                type:
                  type: string
                usage:
                  type: string
                  enum:
                    - low
                    - medium
                    - high

    AccountInput:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - hsa
            - fsa
            - hra
            - lpfsa
        owner:
          type: string
          enum:
            - subscriber
            - spouse
            - joint
        starting_balance:
          type: number
          format: double
        employer_contribution_planyear:
          type: number
          format: double
        contribution_ytd:
          type: number
          format: double

    CurrentEnrollment:
      type: object
      required:
        - mapped_plan_id
        - num_deductions_planyear
      properties:
        plan_id:
          type: string
        mapped_plan_id:
          type: string
        product_type:
          type: string
        premium:
          type: number
          format: double
        num_deductions_planyear:
          type: integer
        num_deductions_remaining:
          type: integer
        coverage_start_date:
          type: string
          format: date
        coverage_end_date:
          type: string
          format: date
        coverage_id:
          type: string
        covered_people:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              level:
                type: integer

    Product:
      type: object
      required:
        - type
        - product_id
        - plan_ids
      properties:
        type:
          type: string
          description: Product type (e.g., medical_plan, dental_plan, vision_plan, hsa,
            fsa, hospital_indemnity, accident_indemnity, illness_indemnity)
        product_id:
          type: string
        plan_ids:
          type: array
          items:
            type: string
        kind:
          type: string
          description: Optional subtype (e.g., hmo)
        annual_limit:
          type: integer
        lifetime_limit:
          type: integer
        payout_starting_on:
          type: integer
        is_hdhp:
          type: boolean
        is_investable:
          type: boolean
        keep_if_unused:
          type: boolean
        allows_in_service_rollovers:
          type: boolean
        allow_rx:
          type: boolean
        allows_retirement_rollover:
          type: boolean
        covers:
          type: object
          additionalProperties: true
          description: Whether the employee, spouse, and children are covered.
        external_level_ids:
          type: object
          additionalProperties: true
          description: A dictionary of external level ids associated with the plan for a particular integration.
        in_network:
          type: object
          additionalProperties: true
          description: Benefits, deductibles, services, and limits (kept flexible due to
            variability)
        eligible_services:
          type: array
          items:
            type: string
            enum: ["medical_care","dental_care","vision_care","prescription_drugs"]
        expense_order:
          type: array
          items:
            type: string
            enum: ["outofpocket","premiums"]
        plan_order:
          type: array
          items:
            type: string
            enum: ["medical_care","dental_care","vision_care","prescription_drugs"]
        out_of_network:
          type: object
          additionalProperties: true
          description: Benefits, deductibles, services, and limits (kept flexible due to
            variability)
        wellness_benefit:
          type: object
          properties:
            subscriber:
              type: number
            spouse:
              type: number
            child:
              type: number
        services:
          type: object
          additionalProperties: true
        credit_mode:
          type: string
          enum: ["reimbursement", "premium-discount"]
        outofpocket_limits:
          type: object
          properties:
            individual:
              type: number
            family:
              type: number


    EligibleOffer:
      type: object
      required:
        - offer_type
        - offer_id
        - plan_id
        - num_deductions_planyear
        - num_deductions_remaining
        - coverage_start_date
        - coverage_end_date
      properties:
        offer_type:
          type: string
          enum:
            - coverage_choice
            - health_account
        plan_id:
          type: string
        offer_id:
          type: string
        decline_plan_id:
          type: string
        offer_from:
          type: string
          enum: ["subscriber","spouse"]
        num_deductions_planyear:
          type: integer
        num_deductions_remaining:
          type: integer
        is_section_125:
          type: boolean
        is_mandatory:
          type: boolean
        coverage_start_date:
          type: string
          format: date
        coverage_end_date:
          type: string
          format: date
        incompatible_with:
          type: array
          items:
            type: object
            properties:
              offer_id:
                type: string
        must_include_all:
          type: array
          items:
            type: object
        requires_all_of:
          type: array
          items:
            type: object
        requires_one_of:
          type: array
          items:
            type: object
            properties:
              offer_id:
                type: string
        coverage_choices:
          type: array
          items:
            $ref: '#/components/schemas/CoverageChoice'
        employer_contributions:
          type: array
          items:
            $ref: '#/components/schemas/EmployerContribution'
        level:
          type: number
        level_spouse:
          type: number
        level_child:
          type: number
        contribution_limit_planyear_single:
          type: number
        contribution_limit_planyear_family:
          type: number
        min_contribution_planyear:
          type: integer
        guaranteed_issue_level:
          type: integer
        employer_match_rate:
          type: number
        min_level_percent_of_subscriber:
          type: number
        max_level_percent_of_subscriber:
          type: number
        covered_people:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
        level_choices:
          type: array
          items:
            type: object
            properties:
              level:
                type: integer
              level_spouse:
                type: integer
              level_child:
                type: integer
              coverager_id:
                type: integer
              premium:
                type: number
              is_eoi_required:
                type: boolean

    CoverageChoice:
      type: object
      required:
        - coverage_id
        - premium
        - covered_people
      properties:
        coverage_id:
          type: string
        premium:
          type: number
        covered_people:
          type: array
          items:
            type: object
            properties:
              id:
                type: string

    EmployerContribution:
      type: object
      required:
        - coverage_id
        - covered_people
        - employer_contribution_planyear
      properties:
        coverage_id:
          type: string
        covered_people:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
        employer_contribution_planyear:
          type: number

    ErrorProblem:
      type: object
      description: Standard error envelope using RFC 7807-style fields.
      properties:
        type:
          type: string
          format: uri
          description: URI identifier for the error type.
          example: https://api.example.com/errors/validation
        title:
          type: string
          description: Short, human-readable summary of the error.
          example: Validation Error
        status:
          type: integer
          description: HTTP status code.
          example: 400
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence of the
            problem.
          example: birthdate must be in YYYY-MM-DD format.
        instance:
          type: string
          format: uri
          description: URI reference to the specific error occurrence.
          example: https://api.example.com/health-profile?requestId=abc123
        correlationId:
          type: string
          description: Correlation ID for tracing.
          example: abc123
        errorCode:
          type: string
          description: Machine-readable application error code.
          example: VALIDATION_FAILED
        errors:
          type: array
          description: Field-level validation errors (if applicable).
          items:
            $ref: '#/components/schemas/FieldError'
      required:
        - title
        - status

    FieldError:
      type: object
      properties:
        field:
          type: string
          description: The field path that failed validation.
          example: healthProfileData[0].healcareUtilization[0].subscriberDetails[0].birthdate
        message:
          type: string
          description: Human-readable validation message.
          example: Must be a valid date in format YYYY-MM-DD.
        code:
          type: string
          description: Optional machine-readable validation code.
          example: INVALID_DATE
      required:
        - field
        - message

  ErrorResponses:
    BadRequest:
      description: The request could not be understood by the server due to malformed
        syntax or validation errors.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorProblem'
          examples:
            example:
              value:
                type: https://api.example.com/errors/validation
                title: Validation Error
                status: 400
                detail: One or more fields are invalid.
                correlationId: req-12345
                errorCode: VALIDATION_FAILED
                errors:
                  - field: evaluationid
                    message: Evaluation id must be present to retrive recommended bundles/packages.
                    code: REQUIRED
                  - field: alightRequestHeader
                    message: Alight request header must be present.
                    code: REQUIRED
                  - field: alightPersonSessionToken
                    message: Person session token must be present
                    code: REQUIRED

    Unauthorized:
      description: Authentication is required and has failed or has not yet been provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorProblem'
          examples:
            example:
              value:
                type: https://api.example.com/errors/unauthorized
                title: Unauthorized
                status: 401
                detail: Missing or invalid access token.
                correlationId: req-67890
                errorCode: AUTH_REQUIRED

    Forbidden:
      description: The request was valid, but the server is refusing action due to
        insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorProblem'
          examples:
            example:
              value:
                type: https://api.example.com/errors/forbidden
                title: Forbidden
                status: 403
                detail: You do not have permission to access this resource.
                correlationId: req-24680
                errorCode: INSUFFICIENT_SCOPE

    InternalServerError:
      description: An unexpected error occurred on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorProblem'
          examples:
            example:
              value:
                type: https://api.example.com/errors/server
                title: Internal Server Error
                status: 500
                detail: Unexpected error occurred.
                correlationId: req-ise-001
                errorCode: UNEXPECTED_ERROR

    UnexpectedError:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorProblem'

  examples:
    EvaluationInputExample:
      summary: Example bundle from Bundle_Input_Data.json
      value:
        clienId: '19968'
        platformInternalId: '007700057'
        evaluationId: 15bf0d9e765dd08eda3de5169e086c6 #pragma: allowlist secret
        businessProcessReferenceId: '12345'
        savviRequest:
          plan_year_start_date: '2025-01-01'
          plan_year_end_date: '2025-12-31'
          enrollment_mode: annual
          effective_date: '2025-01-01'
          subscriber:
            id: VBAYSGJWFI9GP5CHAGIYGGUMHNZN2QOA
            birthdate: '1979-02-15'
            annual_pay: 80000
            tax_state: MD
            pay_periods_plan_year: 26
            pay_periods_remaining: 26
            healthcare:
              expected_usage:
                medical_care:
                  type: level
                  usage: low
          coverable_people:
            - id: R0JDJ4IUL8XLXCTUJFCYH7PNYT9FUVA6 #pragma: allowlist secret
              birthdate: '2016-07-15'
              relationship: child
              healthcare:
                expected_usage:
                  medical_care:
                    type: level
                    usage: low
            - id: HUJ85NFTDJGKR1LA9BXE8AZSMPJ7WPP1 #pragma: allowlist secret
              birthdate: '1981-05-15'
              relationship: spouse
              healthcare:
                expected_usage:
                  medical_care:
                    type: level
                    usage: low
            - id: GM0YSSPC8BVB6VFRAEUXKFDSC8WFSRIR #pragma: allowlist secret
              birthdate: '2012-11-15'
              relationship: child
              healthcare:
                expected_usage:
                  medical_care:
                    type: level
                    usage: low
          products:
            - type: medical_plan
              product_id: VNCLWESSXLN6PQBPGEZMNNMJKZVCPQQT
              plan_ids:
                - P6cSfI3dH3dOEdrO
              in_network:
                coinsurance: 20
                deductibles:
                  individual: 1600
                  family: 3200
                has_preventive_care: true
                services:
                  drugsGeneric:
                    coinsurance: 20
                    maxCoinsurance: 10
                outofpocketLimits:
                  individual: 6000
                  family: 12000
              is_hdhp: true
            - type: hsa
              product_id: ER27FUDAHATKOBD3MRU88BJZ49D0I2OQ
              plan_ids:
                - Ps2iS4L70Kp1ZSSa
              is_investable: true
          eligible_offers:
            - offer_type: coverage_choice
              plan_id: P6cSfI3dH3dOEdrO
              offer_id: KO8CE8BWT0FKK09OFXZJFPFEPSV9IZD4
              num_deductions_planyear: 26
              num_deductions_remaining: 26
              is_section_125: true
              coverage_start_date: '2025-01-01'
              coverage_end_date: '2025-12-31'
              coverage_choices:
                - coverage_id: Y094HSEL3X3AEF2JG0DGDG15WFNNT6WM
                  premium: 37.05
                  covered_people:
                    - id: VBAYSGJWFI9GP5CHAGIYGGUMHNZN2QOA
          customizations:
            custom_bundle:
              plans:
                - plan_id: PoJoQD6ZLOxgxrA1
                - plan_id: Pme3lQX7CnKK1g1H
                - plan_id: PabJKFAMCAGjQE2G
                - plan_id: PUqXvCYJ5H8Fw0Km
                  level: 20000
                  level_spouse: 10000
                  level_child: 2000
        timestamp: 2026-01-01-00.00.00
